#cercles-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.circle {
    position: absolute;
    top: -100px;
    border-radius: 50%;
    animation-name: down;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-iteration-count: infinite;
}

@keyframes down {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(100vh);
    }
}

/* Ajouter des couleurs supplémentaires ici */
.circle.red {
    background-color: red;
}

.circle.blue {
    background-color: blue;
}