/***********/
/*Variables*/
/***********/
:root {
  --BleuOcean: #0476b8;
  --BleuCielPale: #87CEEB;
  --CyanClair: #00FFFF;
  --BleuGris: #6699CC;
}

.red-text {
  color: red;
  font-weight: bold;
}

.yellow-text {
  color: yellow;
  font-weight: bold;
}