/*********/
/*Plateau*/
/*********/
table {
  margin: 2%;
  border-collapse: collapse;
  border: 10px solid var(--BleuOcean);
  background-color: var(--BleuOcean);
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
    background-color: #333;
    color: #E3E3E3;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid var(--BleuOcean);
}

.BoutonCol {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(228, 226, 226);
  border-color: rgb(3, 81, 145);
  font-size: 0.5em;
}

.BoutonCol:hover {
  background-color: rgb(200, 199, 199);
}

.vide {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid var(--BleuOcean);
}

.red {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: red;
  border: 1px solid var(--BleuOcean);
}

.yellow {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: yellow;
  border: 1px solid var(--BleuOcean);
}

.PlayerTab {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.PlayerTab>h2 {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
}

.plateaux {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.plateaux>div>table{
  width: 60%;
  height: auto;
}

.PlayerTab {
  display: flex;
  justify-content: center;
  align-items: center;
}
