@font-face {
  font-family: "Orbitron";
  src: url("../police/Orbitron/static/Orbitron-Regular.ttf") format("truetype");
}

body {
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}

h1,h2,h3,h4,p{
  color:black
}

h4{
  font-size: 110%;
  color: var(--BleuOcean)
}

.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

pre{
  margin-bottom: 3%
}

/********/
/*Footer*/
/********/
html,
body {
  height: 100%;
  margin: 0;
  font-size: 110%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 3%;
  text-align: center;
  flex-shrink: 0;
  color:white;
}

footer > p {
  text-align: center;
  width: 100%;
  color:white;
}


/***********/
/*Important*/
/***********/
body {
  background-color: var(--BleuCielPale);
}

section {
  padding: 2%;
  margin-bottom: 3%;
  background-color: white;
  border-color: black;
  border-width: 5px;
  border-radius: 100px;
}

main {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.red-border {
  border-color: red;
  border-width: 2px;
}

h1{
  text-align: center;
}

/**********/
/*Le reste*/
/**********/

#BoutonPlay {
  font-size: 170%;
  color: #ffffff;

  background-color: #5c9dea;
  border-color: #5c9dea;
  background-color: var(--BleuOcean);
  border-color: var(--BleuOcean);
}

#BoutonPlay:hover {
  font-size: 170%;

  color: var(--BleuOcean);
  background-color: #ffffff;
  border-color: var(--BleuOcean);
}

.btnNavDiv {
  color: var(--BleuOcean);
  background-color: #ffffff;
  border-color: #5c9dea;
  border-color: #ffffff;
}

.btnNavDiv:hover {
  color: #ffffff;
  background-color: var(--BleuGris);
  border-color: #ffffff;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bordure {
  margin: 20px auto;
}

img {
  width: 10%;
}

nav,
footer {
  color: #ffffff;
  background-color: var(--BleuOcean);
}

nav > div {
  display: flex;
  width: 100%;
}

.titre {
  font-family: "Orbitron", sans-serif;
  font-size: 130%;
  color: #ffffff;
}
