@font-face {
  font-family: "Orbitron";
  src: url("../police/Orbitron/static/Orbitron-Regular.ttf") format("truetype");
}

body {
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}

/********/
/*Footer*/
/********/
html,
body {
  height: 100%;
  margin: 0;
  font-size: 110%;
}

body {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 3%;
  text-align: center;
  flex-shrink: 0;
}

footer > p {
  text-align: center;
  width: 100%;
}

/***********/
/*Important*/
/***********/
body {
  background-color: var(--BleuCielPale);
  color: white;
  font-size: auto;
}

section {
  padding: 2%;
  margin-bottom: 3%;
  background-color: var(--BleuGris);
  border-radius: 100px;
}

main {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.red-border {
  border-color: red;
  border-width: 2px;
}

h1,
h2 {
  text-align: center;
}

/****************/
/*Règles section*/
/****************/
.reglesDiv1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.reglesDiv2 {
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  border: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: black;
  color: black;
  padding: 5%;
}

.ReglesSection {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.BoutonNavDiv {
  margin-left: auto;
  margin-right: 3%;
}

/*********/
/*Accueil*/
/*********/
.BoutonAccueil {
  margin-left: 1%;
}

.container {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container > div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.boutonPlay {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.AcceuilSection > div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  width: auto;
}

/***********/
/*ECran Fin*/
/***********/
.plateaux {
  display: flex;
  justify-content: center;
}

.EcranFinSection > div {
  margin-top: 3%;
  margin-bottom: 3%;
}

.scoresection {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.scoresection > div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.boutonsEcranFin {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**********/
/*Le reste*/
/**********/

#BoutonPlay {
  font-size: 170%;
  color: #ffffff;

  background-color: #5c9dea;
  border-color: #5c9dea;
  background-color: var(--BleuOcean);
  border-color: var(--BleuOcean);
}

#BoutonPlay:hover {
  font-size: 170%;

  color: var(--BleuOcean);
  background-color: #ffffff;
  border-color: var(--BleuOcean);
}

.btnNavDiv {
  color: var(--BleuOcean);
  background-color: #ffffff;
  border-color: #5c9dea;
  border-color: #ffffff;
}

.btnNavDiv:hover {
  color: #ffffff;
  background-color: var(--BleuGris);
  border-color: #ffffff;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bordure {
  margin: 20px auto;
}

img {
  width: 10%;
}

nav,
footer {
  color: #ffffff;
  background-color: var(--BleuOcean);
}

nav > div {
  display: flex;
  width: 100%;
}

.titre {
  font-size: 130%;
  color: #ffffff;
}
